h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 3vh;
    margin-top: 2vh;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
h3{
    font-size: 20px;
    text-align: center;
    margin-bottom: 2vh;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40vh;
    width:75vw;
    margin-bottom: 3vh;
}

a{
    color: #162938;
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: none;
    position: relative;
}
  
a::after{
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #162938;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}

a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
    height: 2px;

}