.tech-params.top table th{
    color: black;
    font-size: 32px;
    font-weight: 500;
}
.tech-params.top table td{
    color: black;
    font-size: 32px;
}
.add_image input{
    width: 40vw;
    height: 3vh;
}

@media (max-width: 900px){
    .add_image input{
        width: 80vw;
    }
}