.car-name{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
}

.car-name div{
    display: grid;
}

.car-name h1{
    grid-column: 1;
    font-size: 25px;
}

.car-name input{
    position: relative;
    grid-column: 2;
    font-size: 25px;
    font-weight: 600;
}

.description{
    height: 20vh;
    width: 30vw;
}

@media (max-width: 900px){
    .button-div{
        display: block;
        text-align: center;
    }

    .button-div.car-name{
        display: grid;
    }
    .button{
        margin: 1vh 2vw;
    }
    h1{
        margin: 0 5vw 0 5vw;
    }
    .tech-params.big{
        display: block;
        text-align: center;
    }
    .tech-params{
        flex-direction: column;
    }
}