.car_show{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.car_preview{
  position: relative;
  cursor: pointer;
  border-radius: 18px;
  width: 15rem;
  height: 15rem;
  margin: 3rem;
}

.car_preview img{
  object-fit: cover;
  width: 15rem;
  height: 15rem;
  border-radius: 18px;
}

.car_description{
  position: absolute;
  bottom: -50%;
  width: 100%;
  height: auto;

  backdrop-filter: blur(10px);
  mask: linear-gradient(to right, rgba(0, 0, 0, 1) 15%, rgba(0, 0, 0, 0) 100%);
}