.car_show{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.car_preview{
  position: relative;
  cursor: pointer;
  border-radius: 18px;
  width: 15rem;
  height: 15rem;
  margin: 3rem;
  margin-bottom: 105px;
}

.car_preview img{
  object-fit: cover;
  width: 15rem;
  height: 15rem;
  border-radius: 18px;
}

.car_description{
  position: absolute;
  bottom: -45%;
  width: 100%;
  height: auto;
  backdrop-filter: blur(10px);
}

.car_description h3{
  position: absolute;
  right: 0%;
  bottom: 0;
}

.car_description h4{
  font-size: 22px;
}
