.main_content{
  width: 100%;
  height: 100%;
}

h1{
  font-size: 55px;
  text-align: center;
}

.car_show{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: auto;
  align-items: center;
}

.car_preview{
  position: relative;
  cursor: pointer;
  border-radius: 18px;
  width: 15vw;
  height: 20vh;
  margin: 3rem;
  margin-bottom: 105px;
  min-width: 200px;
  min-height: 200px;
  transition: 0.5s;
}

.img_container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  margin-bottom: 25px;
  transition: 0.5s;
}

.img_container:hover{
  transform: scale(1.1);
  transition: 0.5s;
}

.car_preview img{
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 18px;
  background: white;
}

.car_description{
  position: relative;
  bottom: 0;
  margin-bottom: 2vh;
  width: 100%;
  height: auto;
}

.car_description h3{
  position: absolute;
  right: 0%;
  bottom: 0;
}

.car_description h4{
  font-size: 22px;
}

.add_car{
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 3rem;
  margin-bottom: 3rem;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #162938;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s;
  font-size: 85px;
  color: white;
  z-index: 1000;
}

.add_car:hover{
  transform: scale(1.1);
  transition: 0.5s;
}



@media (max-width: 1000px){
  .car_preview{
    width: 40vw;
    height: 50vh;
    margin: 5vw;
  }

  .img_container{
    width: 40vw;
    height: 30vh;
  }

}

@media (max-width: 600px){
  .car_preview{
    width: 90vw;
    height: fit-content;
    margin: 5vw;
  }

  .img_container{
    width: 90vw;
    height: auto;
  }

  .car_description h3{
    font-size: 20px;
  }

  .car_description h4{
    font-size: 18px;
  }
}