@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.navbar{
  margin-bottom: 130px;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  background-color: #162938;
}

.logo{
  color: #fff;
  font-size: 2rem;
  user-select: none;
}

.navigation a{
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  margin-left: 40px;
  text-decoration: none;
  position: relative;
}

.navigation a::after{
  content: '';
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .5s;
}

.navigation a:hover::after{
  transform: scaleX(1);
  transform-origin: left;
}

.navigation .btnLogin-popup{
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  margin-left: 40px;
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  transition: .5s;
}

.navigation .btnLogin-popup:hover{
  background: #fff;
  color: #162938;
}

.navigation .btnLogout-popup{
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  margin-left: 40px;
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  transition: .5s;
}

.navigation .btnLogout-popup:hover{
  background: #fff;
  color: #162938;
}