<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/auta/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    {% block head%}{% endblock head %}
    <title>{% block title %}Autogalaxie Brno{% endblock title %}</title>
</head>
<body>
    <main>
    <div id="navbar">{% include "auta/navbar.html" %}</div>
    <div id="content">{% block content %}{% endblock %}</div>
    </main>
</body>
</html>