<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="/static/navbar.css">
    <link rel="stylesheet" href="/static/popup.css">
    <link rel="script" href="/static/popup.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    {% block head%}{% endblock head %}
    <title>{% block title %}Autogalaxie Brno{% endblock title %}</title>
    <script>
        function formattedNumber(x) {
            document.write(x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " "));
        }    
    </script>
</head>
<body>
    <main>
    <div id="navbar" class="navbar">{% include "auta/navbar.html" %}</div>
    <div id="message" class="message">{% include "auta/message.html" %}</div>
    <div id="popup" class="popup">{% include "auta/popup.html" %}</div>
    <div id="content">{% block content %}{% endblock %}</div>
    </main>
</body>
<script src="/static/popup.js"></script>
</html>