{% extends "auta/base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="/static/contact.css"/>
{% endblock %}
{% block content %}
<div>
    <h2> Kontakty </h2>
    <h3> Autogalaxie Brno, spol. s r.o. </h3>
    <h3> Jedovnická 15</h3>
    <h3> 628 00 Brno</h3>
    <h3 style="margin-bottom: 2vh;">IČ: 45 67 12 89</h3>
    <h3><a href="tel:+420123456789"> +420 789 456 123 </a></h3>
    <h3><a href="mailto:info@autogalaxiebrno.cz"> info@autogalaxiebrno.cz </a></h3>
    <h2> Kde nás najdete? </h2>
    <iframe style="border:none" src="https://frame.mapy.cz/s/jevocutule" width="500" height="300" frameborder="0"></iframe>
</div>
{% endblock %}