{% extends "auta/base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="/static/detail.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/static/swiper.css">
    <link rel="stylesheet" href="/static/edit_car.css">
    <link rel="stylesheet" href="/static/create_car.css">
{% endblock %}
{% block title %}Vytvořit auto | {{ block.super }}{% endblock %}
{% block content %}
    <form action="{% url 'auta:auto_create' %}"  method="POST">   
        {% csrf_token %}
        <div class="detail">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                {% for image in auto.images %}
                    {% if image.url %}
                        <div class="swiper-slide">
                            <img src="{{ image.url }}" alt="Image" style="cursor: pointer;" data-enlargeable>
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="swiper-slide" style="height:15vh">
                    <div class="add_image">
                        <p>Přidat obrázek</p>
                        <input type="text" name="image" id="image" placeholder="Zadejte odkaz na obrázek">
                    </div>
                </div>
            </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
            <script>
                var swiper = new Swiper(".mySwiper", {
                    slidesPerView: 1,
                    spaceBetween: 30,
                    loop: true,
                    pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                    },
                    navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                    },
                });
                </script>
            <div class="button-div">
                <div class="tech-params top">
                    <table>
                        <tr>
                            <th>Značka</th>
                            <td><input type="text" name="znacka" value="{{ auto.znacka }}"></td>
                        </tr>
                        <tr>
                            <th>Model</th>
                            <td><input type="text" name="model" value="{{ auto.model }}"></td>
                        </tr>
                        <tr>
                            <th>Rok výroby</th>
                            <td><input type="text" name="rok_vyroby" value="{{ auto.rok_vyroby }}"></td>
                        </tr>
                        <tr>
                            <th>Cena</th>
                            <td><input type="text" name="cena" value="{{ auto.cena }}"></td>
                        </tr>
                    </table>
                </div>
                <div class="button-div buttons">
                    <button type="submit" class="button save">Uložit</button>
                </div>
            </div>
            <h2>Technické parametry</h2>
            <div class="tech-params">
                <table>
                    <tr>
                        <th>Stav tachometru</th>
                        <td><input type="text" name="stav_tachometru" value="{{ auto.stav_tachometru }}"></td>
                    </tr>
                    <tr>
                        <th>Palivo</th>
                        <td><input type="text" name="palivo" value="{{ auto.palivo }}"></td>
                    </tr>
                    <tr>
                        <th>Barva</th>
                        <td><input type="text" name="barva" value="{{ auto.barva }}"></td>
                    </tr>
                    <tr>
                        <th>Převodovka</th>
                        <td><input type="text" name="prevodovka" value="{{ auto.prevodovka }}"></td>
                    </tr>
                </table>
            
                <input type="text" name="popis" value="{{ auto.popis }}" class="description">
            </div>
        </div>
    </form>
    <script>
        var images = document.querySelectorAll("img[data-enlargeable]");
        images.forEach(function(img) {
            img.classList.add("img-enlargeable");
            img.addEventListener("click", function() {
                var src = this.getAttribute("src");
                var modal = document.createElement("div");
                modal.style.background = "RGBA(0,0,0,.5) url(" + src + ") no-repeat center";
                modal.style.backgroundSize = "contain";
                modal.style.width = "100%";
                modal.style.height = "100%";
                modal.style.position = "fixed";
                modal.style.zIndex = "10000";
                modal.style.top = "0";
                modal.style.left = "0";
                modal.style.cursor = "zoom-out";
                modal.style.opacity = '0';
                modal.style.transition = 'opacity 0.5s ease';
                modal.addEventListener("click", function() {
                    document.body.removeChild(modal);
                    document.body.removeEventListener("keyup", closeModal);
                });
                function closeModal(event) {
                    if (event.key === "Escape") {
                        document.body.removeChild(modal);
                        document.body.removeEventListener("keyup", closeModal);
                    }
                }
                document.body.appendChild(modal);
                setTimeout(function() {
                    modal.style.opacity = '1';
                }, 10);
                document.body.addEventListener("keyup", closeModal);
            });
        });
    </script>
{% endblock %}