{% extends "auta/base.html" %}
{% block title %}{{ block.super }}{% endblock %}
{% block head %}
    <link rel="stylesheet" href="static/auta/homepage.css"/>
    <link rel="stylesheet" href="static/auta/swiper.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
        function formattedNumber(x) {
            document.write(x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " "));
        }
    </script>
{% endblock %}
{% block content %}
    {% load static %}
    <main>
        <div>
            <h1>Autogalaxie Brno</h1>
        </div>
        <div>
            <p>
                Tyto stránky jsou věnovány ukázce automobilů v nabídce našeho autobazaru a případné rezervaci jejich prohlídky, níže můžete vidět seznam naší aktuální nabídky automobilů.
            </p>
            {% if auta_list %}
                <ul>
                    {% for auto in auta_list %}
                    <li><a href="{% url 'auta:detail' auto.id %}">{{ auto.rok_vyroby }} {{ auto.znacka }} {{ auto.model }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Neexistuje žádné auto</p>
            {% endif %}
            <br>
            {% if auta_list %}
                <div class="car_show">
                    {% for auto in auta_list %}
                    <div id="auto-{{auto.id}}" class="car_preview" onclick="window.location.href='/{{auto.id}}'" style="cursor: pointer;">
                        <img src="static/auta/auto.jpeg"/>
                        <div class="car_description">
                            <h2>{{ auto.znacka }} {{ auto.model }}</h2>
                            <h3>{{ auto.rok_vyroby }}</h3>
                            <h4><script> 
                                formattedNumber({{ auto.cena }})
                            </script> Kč</h4>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>Neexistuje žádné auto</p>
            {% endif %}
            <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
            <div class="swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">Slide 1</div>
                  <div class="swiper-slide">Slide 2</div>
                  <div class="swiper-slide">Slide 3</div>
                  ...
                </div>
                <div class="swiper-pagination"></div>
              
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
              
                <div class="swiper-scrollbar"></div>
            </div>
            <script>
                const swiper = new Swiper('.swiper', {
                    // Optional parameters
                    direction: 'vertical',
                    loop: true,
                  
                    // If we need pagination
                    pagination: {
                      el: '.swiper-pagination',
                    },
                  
                    // Navigation arrows
                    navigation: {
                      nextEl: '.swiper-button-next',
                      prevEl: '.swiper-button-prev',
                    },
                  
                    // And if we need scrollbar
                    scrollbar: {
                      el: '.swiper-scrollbar',
                    },
                  });
            </script>
        </div>
    </main>
{% endblock %}