{% extends "auta/base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="/static/user_profile.css"/>
{% endblock %}
{% block content %}
<div class="profile">
    <div class="profile-details">
        <div class="detail">
            <h3>Jméno</h3>
            <h4>{{ user.full_name }}</h4>
            <a style="cursor: pointer;" class="name-edit">Změnit</a>
        </div>
        <div class="detail">
            <h3>E-mail</h3>
            <h4>{{ user.email }}</h4>
            <a style="cursor: pointer;" class="email-edit">Změnit</a>
        </div>
        <div class="detail">
            <h3>Heslo</h3>
            <h4>••••••••••</h4>
            <a style="cursor: pointer;" class="password-edit">Změnit</a>
        </div>
        <div class="detail">
            <h3>Telefon</h3>
            <h4>{{ user.phone }}</h4>
            <a style="cursor: pointer;" class="phone-edit">Změnit</a>
        </div>
        {% if rezervace %}
            <div class="detail">
                <h3>Vaše rezervace</h3>
                <div class="rezervace-grid">
                    {% for rez in rezervace %}
                        <a href="{% url 'auta:detail' rez.auto.id %}"><h5>{{ rez.auto }} - {{ rez.datum_a_cas }}</h5></a>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}